:root {
    --cor-primaria: #0077b6;
    --cor-secundaria: #023e8a;
    --cor-fundo: #f1f5f9;
    --cor-texto: #333;
    --cor-menu: #fff;
    --cor-hover: #90e0ef;

    --fonte: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: var(--cor-menu);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    display: flex;
}


nav {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    position: relative;
    overflow: visible;
}

nav img.logo {
    height: 160px;
    width: auto;
    position: relative;
    top: 8px;
    z-index: 10;
}

nav h1 {
    color: var(--cor-primaria);
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 600;
    padding: 0.5rem;
    transition: background 0.3s, color 0.3s;
    text-align: right;
    align-items: end;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: var(--cor-hover);
    border-radius: 4px;
}

main {
    padding: 2rem;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 2rem;
    padding: 2rem 0;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}

section h2 {
    color: var(--cor-secundaria);
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

section p {
    max-width: 600px;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.4;
}

section img {
    flex: 1;
    max-width: 400px;
    border-radius: 8px;
}

footer {
    background-color: var(--cor-secundaria);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}